name: prometheus
services:
  prometheus:
    image: "prom/prometheus:latest"
    dns: 172.17.0.1
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus
      - prometheus-sd:/prometheus-sd
    configs:
      - source: prometheus-config
        target: /etc/prometheus/prometheus.yml

  prom-sd-observer:
    image: "ghcr.io/jcapucho/ssle/prom-observer:latest"
    restart: always
    environment:
      OBSERVER_JOIN_URL: 10.255.255.15:2383
      OBSERVER_CA_FILE: /run/secrets/ca-crt
      OBSERVER_CERTIFICATE: /run/secrets/node-crt
      OBSERVER_KEY: /run/secrets/node-key
      OBSERVER_TARGETS_FILE: /prometheus-sd/targets.json
    secrets:
      - ca-crt
      - node-crt
      - node-key
    volumes:
      - prometheus-sd:/prometheus-sd

  thanos:
    image: "quay.io/thanos/thanos:v0.40.1"
    command: "sidecar --tsdb.path=/prometheus --prometheus.url=http://prometheus:9090 --grpc-address=0.0.0.0:10901"
    dns: 172.17.0.1
    restart: always
    ports:
      - "10901:10901"
    volumes:
      - prometheus-data:/prometheus

volumes:
  prometheus-sd:
  prometheus-data:

secrets:
  ca-crt:
    file: ./certs/ca.crt
  node-crt:
    file: ./certs/node.crt
  node-key:
    file: ./certs/node.key

configs:
  prometheus-config:
    content: |
      global:
        scrape_interval: 15s
        external_labels:
          prometheus_from: dc01
        
      scrape_configs:
      - job_name: registry
        file_sd_configs:
        - files:
            - '/prometheus-sd/targets.json'
