name: prometheus
services:
  thanos:
    image: "quay.io/thanos/thanos:v0.40.1"
    command: "query --http-address 0.0.0.0:9090 --endpoint 10.255.255.197:10901 --endpoint 10.255.255.195:10901"
    restart: always
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    volumes:
      - ./grafana:/etc/grafana/provisioning/datasources
      - grafana-storage:/var/lib/grafana

volumes:
  grafana-storage:
